In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [2]:
# connection database
sqlitedb_rel_path = '../data/raw_data_project_m1.db'

conn_str = f'sqlite:///{sqlitedb_rel_path}'

engine = create_engine(conn_str)

In [3]:
# list all tables in database
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", engine)

            name
0  personal_info
1   country_info
2    career_info
3      poll_info

## Personal_info table

In [4]:
personal_info = pd.read_sql_query("select * from personal_info", engine)
personal_info.head(10)

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,1990,FeMale,NO,26_39
6,b50dbb80-da53-0133-8956-0a81e8b09a82,1990,Fem,NO,26_39
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,47 years old,Male,NO,40_65
8,4fde2370-da48-0133-3a42-0a81e8b09a82,34 years old,FeMale,nO,26_39
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,1994,female,yES,juvenile

In [23]:
#age-->cambiar año por nº years old
personal_info['age'].unique()

array(['61 years old', '57 years old', '32 years old', '45 years old',
       '41 years old', '1990', '47 years old', '34 years old', '1994',
       '49 years old', '58 years old', '1991', '40 years old',
       '37 years old', '48 years old', '31 years old', '1999', '1989',
       '2001', '35 years old', '51 years old', '1988', '42 years old',
       '33 years old', '64 years old', '38 years old', '55 years old',
       '1992', '1993', '36 years old', '46 years old', '1998',
       '44 years old', '1996', '65 years old', '1995', '52 years old',
       '2002', '50 years old', '1997', '43 years old', '1987', '1986',
       '39 years old', '53 years old', '62 years old', '2000',
       '54 years old', '56 years old', '59 years old', '60 years old',
       '63 years old'], dtype=object)

In [29]:
#1990= 26 years old.1994= 22 years old. 1991= 25 years old. 1999= 17 years old. 1989= 27 years old. 2001= 15 years old. 1988= 28 years old. 1992= 24 years old.
#1993= 23 years old. 1998= 18 years old. 1996= 20 years old.1995= 21 years old. 2002= 14 years old.1997= 19 years old.1987= 29 years old.1986= 30 years old.
#2000= 16 years old.
personal_info['age'] = personal_info['age'].replace('1990', '26 years old')
personal_info['age'] = personal_info['age'].replace('1994', '22 years old')
personal_info['age'] = personal_info['age'].replace('1991', '25 years old')
personal_info['age'] = personal_info['age'].replace('1999', '17 years old')
personal_info['age'] = personal_info['age'].replace('1989', '27 years old')
personal_info['age'] = personal_info['age'].replace('2001', '15 years old')
personal_info['age'] = personal_info['age'].replace('1988', '28 years old')
personal_info['age'] = personal_info['age'].replace('1992', '24 years old')
personal_info['age'] = personal_info['age'].replace('1993', '23 years old')
personal_info['age'] = personal_info['age'].replace('1998', '18 years old')
personal_info['age'] = personal_info['age'].replace('1996', '20 years old')
personal_info['age'] = personal_info['age'].replace('1995', '21 years old')
personal_info['age'] = personal_info['age'].replace('2002', '14 years old')
personal_info['age'] = personal_info['age'].replace('1997', '19 years old')
personal_info['age'] = personal_info['age'].replace('1987', '29 years old')
personal_info['age'] = personal_info['age'].replace('1986', '30 years old')
personal_info['age'] = personal_info['age'].replace('2000', '16 years old')
personal_info['age']

0       61 years old
1       57 years old
2       32 years old
3       45 years old
4       41 years old
            ...
9644    37 years old
9645    53 years old
9646    24 years old
9647    47 years old
9648    51 years old
Name: age, Length: 9649, dtype: object

In [6]:
#gender-->cambiar todo a Male/Female
personal_info['gender'].unique()

array(['male', 'Male', 'Fem', 'FeMale', 'female'], dtype=object)

In [7]:
personal_info['gender'] = personal_info['gender'].str.capitalize()
personal_info['gender']

0         Male
1         Male
2         Male
3         Male
4          Fem
         ...
9644    Female
9645      Male
9646      Male
9647      Male
9648    Female
Name: gender, Length: 9649, dtype: object

In [8]:
personal_info['gender'] = personal_info['gender'].replace('Fem', 'Female')
personal_info['gender']

0         Male
1         Male
2         Male
3         Male
4       Female
         ...
9644    Female
9645      Male
9646      Male
9647      Male
9648    Female
Name: gender, Length: 9649, dtype: object

In [9]:
#children--> cambiar todo a Yes/No
personal_info['dem_has_children']

0        NO
1       yES
2        nO
3       YES
4       yES
       ...
9644     nO
9645    yES
9646     NO
9647    yES
9648    YES
Name: dem_has_children, Length: 9649, dtype: object

In [10]:
personal_info['dem_has_children'] = personal_info['dem_has_children'].str.capitalize()
personal_info['dem_has_children']

0        No
1       Yes
2        No
3       Yes
4       Yes
       ...
9644     No
9645    Yes
9646     No
9647    Yes
9648    Yes
Name: dem_has_children, Length: 9649, dtype: object

In [11]:
#age group--> cambiar todo al formato año_año
personal_info['age_group'].unique()

array(['40_65', '26_39', 'juvenile', '14_25'], dtype=object)

In [12]:
#ver edad de juvenile
juvenile = personal_info['age_group'].str.contains("juvenile")
print(personal_info[juvenile].max())
print(personal_info[juvenile].min())

uuid                fee33680-da56-0133-c1d5-0a81e8b09a82
age                                                 2002
gender                                              Male
dem_has_children                                     Yes
age_group                                       juvenile
dtype: object
uuid                00199e00-d8c3-0133-c6b2-0a81e8b09a82
age                                                 1991
gender                                            Female
dem_has_children                                      No
age_group                                       juvenile
dtype: object

In [13]:
#2016-2002=14 y 2016-1991=25 --> juvenile=14_25
personal_info['age_group'] = personal_info['age_group'].replace('juvenile', '14_25')
personal_info['age_group'].unique()

array(['40_65', '26_39', '14_25'], dtype=object)

## Country info

In [14]:
country_info = pd.read_sql_query("SELECT * FROM country_info", engine)
country_info.head(10)

                                   uuid country_code        rural
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2  83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3  15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4  24954a70-db98-0133-4a64-0a81e8b09a82           AT         city
5  28583060-dbe2-0133-ff9c-0a81e8b09a82           AT  countryside
6  b50dbb80-da53-0133-8956-0a81e8b09a82           AT        urban
7  dd743bb0-d9a5-0133-53b2-0a81e8b09a82           AT        urban
8  4fde2370-da48-0133-3a42-0a81e8b09a82           AT         city
9  9949c4c0-da5f-0133-c832-0a81e8b09a82           AT        urban

In [15]:
#rural--> empezando en mayusculas. city=urban=non-rural. countryside=rural=country
country_info['rural'].unique()

array(['countryside', 'urban', 'city', 'Country', 'rural', 'Non-Rural'],
      dtype=object)

In [16]:
country_info['rural'] = country_info['rural'].str.capitalize()
country_info['rural']

0       Countryside
1             Urban
2              City
3           Country
4              City
           ...
9644          Urban
9645          Urban
9646      Non-rural
9647           City
9648           City
Name: rural, Length: 9649, dtype: object

In [17]:
country_info['rural'] = country_info['rural'].replace('City', 'Urban')
country_info['rural']

0       Countryside
1             Urban
2             Urban
3           Country
4             Urban
           ...
9644          Urban
9645          Urban
9646      Non-rural
9647          Urban
9648          Urban
Name: rural, Length: 9649, dtype: object

In [18]:
country_info['rural'] = country_info['rural'].replace('Non-rural', 'Urban')
country_info['rural']

0       Countryside
1             Urban
2             Urban
3           Country
4             Urban
           ...
9644          Urban
9645          Urban
9646          Urban
9647          Urban
9648          Urban
Name: rural, Length: 9649, dtype: object

In [19]:
country_info['rural'] = country_info['rural'].replace('Countryside', 'Rural')
country_info['rural']

0         Rural
1         Urban
2         Urban
3       Country
4         Urban
         ...
9644      Urban
9645      Urban
9646      Urban
9647      Urban
9648      Urban
Name: rural, Length: 9649, dtype: object

In [20]:
country_info['rural'] = country_info['rural'].replace('Country', 'Rural')
country_info.head(15)

                                    uuid country_code  rural
0   f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  Rural
1   54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT  Urban
2   83127080-da3d-0133-c74f-0a81e8b09a82           AT  Urban
3   15626d40-db13-0133-ea5c-0a81e8b09a82           AT  Rural
4   24954a70-db98-0133-4a64-0a81e8b09a82           AT  Urban
5   28583060-dbe2-0133-ff9c-0a81e8b09a82           AT  Rural
6   b50dbb80-da53-0133-8956-0a81e8b09a82           AT  Urban
7   dd743bb0-d9a5-0133-53b2-0a81e8b09a82           AT  Urban
8   4fde2370-da48-0133-3a42-0a81e8b09a82           AT  Urban
9   9949c4c0-da5f-0133-c832-0a81e8b09a82           AT  Urban
10  226cf850-db28-0133-c51a-0a81e8b09a82           AT  Urban
11  69f1f400-dc5f-0133-ad9b-0a81e8b09a82           AT  Urban
12  2351fbe0-de4c-0133-0d58-0a81e8b09a82           AT  Urban
13  0f286c80-dd77-0133-7803-0a81e8b09a82           AT  Rural
14  fe54f360-db27-0133-c444-0a81e8b09a82           AT  Rural

## Career info

In [21]:
career_info = pd.read_sql_query("SELECT * FROM career_info", engine)
career_info.head(10)

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,high,yes,27af8700f5577cec835acee2cb90a2ff
6,b50dbb80-da53-0133-8956-0a81e8b09a82,medium,no,None
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,medium,yes,c1b670eba9ccb65e7c99f7da116d5b9c
8,4fde2370-da48-0133-3a42-0a81e8b09a82,medium,yes,d71c4164c99a5f9bca773e755a72f40f
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,no,no,None

## Poll info

In [22]:
poll_info = pd.read_sql_query("SELECT * FROM poll_info", engine)
poll_info.head(10)

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,I understand it fully,I would vote against it,A basic income would not affect my work choices,It encourages financial independence and self-...,It is impossible to finance | It might encoura...
6,b50dbb80-da53-0133-8956-0a81e8b09a82,I know something about it,I would probably vote for it,‰Û_ work as a freelancer,It reduces anxiety about financing basic needs,Foreigners might come to my country and take a...
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,I know something about it,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working | Fo...
8,4fde2370-da48-0133-3a42-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It creates more equality of opportunity | It r...,Foreigners might come to my country and take a...
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,I understand it fully,I would vote for it,‰Û_ do more volunteering work,"It increases solidarity, because it is funded ...",Foreigners might come to my country and take a...