In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [2]:
# connection database
sqlitedb_rel_path = '../data/raw_data_project_m1.db'

conn_str = f'sqlite:///{sqlitedb_rel_path}'

engine = create_engine(conn_str)

In [3]:
# list all tables in database
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", engine)

            name
0  personal_info
1   country_info
2    career_info
3      poll_info

## Personal_info table

In [4]:
personal_info = pd.read_sql_query("select * from personal_info", engine)
personal_info.head(10)

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,1990,FeMale,NO,26_39
6,b50dbb80-da53-0133-8956-0a81e8b09a82,1990,Fem,NO,26_39
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,47 years old,Male,NO,40_65
8,4fde2370-da48-0133-3a42-0a81e8b09a82,34 years old,FeMale,nO,26_39
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,1994,female,yES,juvenile

In [5]:
#age-->cambiar año por nº years old
personal_info['age']

0       61 years old
1       57 years old
2       32 years old
3       45 years old
4       41 years old
            ...
9644    37 years old
9645    53 years old
9646            1992
9647    47 years old
9648    51 years old
Name: age, Length: 9649, dtype: object

In [6]:
#gender-->cambiar todo a Male/Female
personal_info['gender']

0         male
1         male
2         male
3         Male
4          Fem
         ...
9644    FeMale
9645      Male
9646      male
9647      male
9648    FeMale
Name: gender, Length: 9649, dtype: object

In [7]:
personal_info['gender'] = personal_info['gender'].str.capitalize()
personal_info['gender']

0         Male
1         Male
2         Male
3         Male
4          Fem
         ...
9644    Female
9645      Male
9646      Male
9647      Male
9648    Female
Name: gender, Length: 9649, dtype: object

In [8]:
personal_info['gender'] = personal_info['gender'].replace('Fem', 'Female')
personal_info['gender']

0         Male
1         Male
2         Male
3         Male
4       Female
         ...
9644    Female
9645      Male
9646      Male
9647      Male
9648    Female
Name: gender, Length: 9649, dtype: object

In [9]:
#children--> cambiar todo a Yes/No
personal_info['dem_has_children']

0        NO
1       yES
2        nO
3       YES
4       yES
       ...
9644     nO
9645    yES
9646     NO
9647    yES
9648    YES
Name: dem_has_children, Length: 9649, dtype: object

In [10]:
personal_info['dem_has_children'] = personal_info['dem_has_children'].str.capitalize()
personal_info['dem_has_children']

0        No
1       Yes
2        No
3       Yes
4       Yes
       ...
9644     No
9645    Yes
9646     No
9647    Yes
9648    Yes
Name: dem_has_children, Length: 9649, dtype: object

In [12]:
#age group--> cambiar todo al formato año_año
personal_info['age_group'].unique()

array(['40_65', '26_39', 'juvenile', '14_25'], dtype=object)

## Country info

In [15]:
country_info = pd.read_sql_query("SELECT * FROM country_info", engine)
country_info.head(10)

                                   uuid country_code        rural
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2  83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3  15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4  24954a70-db98-0133-4a64-0a81e8b09a82           AT         city
5  28583060-dbe2-0133-ff9c-0a81e8b09a82           AT  countryside
6  b50dbb80-da53-0133-8956-0a81e8b09a82           AT        urban
7  dd743bb0-d9a5-0133-53b2-0a81e8b09a82           AT        urban
8  4fde2370-da48-0133-3a42-0a81e8b09a82           AT         city
9  9949c4c0-da5f-0133-c832-0a81e8b09a82           AT        urban

## Career info

In [17]:
career_info = pd.read_sql_query("SELECT * FROM career_info", engine)
career_info.head(10)

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,high,yes,27af8700f5577cec835acee2cb90a2ff
6,b50dbb80-da53-0133-8956-0a81e8b09a82,medium,no,None
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,medium,yes,c1b670eba9ccb65e7c99f7da116d5b9c
8,4fde2370-da48-0133-3a42-0a81e8b09a82,medium,yes,d71c4164c99a5f9bca773e755a72f40f
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,no,no,None

## Poll info

In [18]:
poll_info = pd.read_sql_query("SELECT * FROM poll_info", engine)
poll_info.head(10)

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,I understand it fully,I would vote against it,A basic income would not affect my work choices,It encourages financial independence and self-...,It is impossible to finance | It might encoura...
6,b50dbb80-da53-0133-8956-0a81e8b09a82,I know something about it,I would probably vote for it,‰Û_ work as a freelancer,It reduces anxiety about financing basic needs,Foreigners might come to my country and take a...
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,I know something about it,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working | Fo...
8,4fde2370-da48-0133-3a42-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It creates more equality of opportunity | It r...,Foreigners might come to my country and take a...
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,I understand it fully,I would vote for it,‰Û_ do more volunteering work,"It increases solidarity, because it is funded ...",Foreigners might come to my country and take a...